.cursor-dot,
.cursor-dot-outline {
  z-index: 1000;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-dot {
  width: 8px;
  height: 8px;
  background-color: #17c0eb;
}

.cursor-dot-outline {
  width: 40px;
  height: 40px;
  background-color: rgba(132, 214, 234, 0.432);
}

